html, body {
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  text-align: center;
}

div:has(> form) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: min-content;
}

span {
  display: flex;
  justify-content: center;
}
